#include <windows.h>

#define VERSION             1,5,0,0
#define VERSION_STR         "1.5.0\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VERSION
PRODUCTVERSION 	VERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	0
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Eugene Melnik <jeka7js@gmail.com>\0"
            VALUE "FileDescription",  "Alexandra Video Library\0"
            VALUE "FileVersion",      VERSION_STR
            VALUE "InternalName",     "alexandra\0"
            VALUE "OriginalFilename", "alexandra.exe\0"
            VALUE "ProductName",      "Alexandra Video Library\0"
            VALUE "ProductVersion",   VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

IDI_ICON1	ICON	"win-icon.ico"

