debian/.debhelper
debian/alexandra/*
debian/files
debian/alexandra.debhelper.log
debian/alexandra.postinst.debhelper
debian/alexandra.postrm.debhelper
debian/alexandra.substvars
src/alexandra
src/alexandra.exe
windows/alexandra*.exe
*.pro.user
*.pro.user*
Makefile
tmp
.qmake.stash

