Source: alexandra
Section: misc
Priority: optional
Maintainer: Eugene Melnik <jeka7js@gmail.com>
Build-Depends: debhelper (>= 9), bash, devscripts
Standards-Version: 3.9.6
Homepage: http://alexandra-qt.sourceforge.net/

Package: alexandra
Version: 1.3.0
Homepage: http://alexandra-qt.sourceforge.net/
Architecture: amd64
Priority: optional
Section: misc
Depends: ${shlibs:Depends}
Description: small opensource video library with great potential.
 Alexandra Video Library - a simple and convenient program for the organization
 and management of the home video library. You can completely customize the 
 movies catalog in a list or a grid, add a description and detailed information
 about the movie in a lot of fields available, attach posters and much more.
 Directly from the program, you can start playing the film, with the available
 choice of any video player on your computer if you wish.

