Source: alexandra
Section: misc
Priority: optional
Maintainer: Eugene Melnik <jeka7js@gmail.com>
Build-Depends: debhelper (>= 9), bash, devscripts
Standards-Version: 3.9.6
Homepage: http://alexandra-qt.sourceforge.net/

Package: alexandra
Version: 1.4.0
Homepage: http://alexandra-qt.sourceforge.net/
Architecture: amd64
Priority: optional
Section: misc
Depends: ${shlibs:Depends}
Description: small opensource video library with great potential
 Alexandra Video Library — a simple and comfortable program for organization
 and management of the home video library. You can completely customize your
 movies in a list or a grid, add a description, detailed information, user tags
 and posters. You can also use the films scanner  that will find and add all
 video files on your disk.
 .
 Directly from the program you can start playing the film or playlist of films
 with any video player installed on your computer.
 .
 If you move your films to another folder, the wizard of moved files will find
 them for your convenience.
 .
 Also here you can find quick search, advanced search, random play function,
 technical information about files, lot of settings and much more. Enjoy!

