[Desktop Entry]
Type=Application
Name=Alexandra
GenericName=Video Library
Exec=alexandra
Icon=alexandra
Categories=AudioVideo;Video;Qt;
Comment=Organize your video library

# Translations
GenericName[ru]=Видеотека
Comment[ru]=Организуй свою видеотеку

GenericName[fr]=Vidéothèque
Comment[fr]=Organise votre vidéothèque

GenericName[uk]=Відеотека
Comment[uk]=Організуй свою відеотеку

